.circle-loader {
    width: 50px;
    padding: 3px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(
        --spinner-color,
        #eab308
    ); /* Use CSS variable with fallback */
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1.5s infinite linear;
}
@keyframes l3 {
    to {
        transform: rotate(1turn);
    }
}
