@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-primary-background: hsl(0, 0%, 14%);
    --dark-primary-foreground: hsl(0, 0%, 18%);
    --dark-outline: hsl(0 0% 28%);
}

@layer base {
    :root {
        --background: hsl(0 0% 100%);
        --foreground: hsl(222.2 84% 4.9%);

        --card: hsl(0 0% 100%);
        --card-foreground: hsl(222.2 84% 4.9%);

        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(222.2 84% 4.9%);

        --primary: hsl(222.2 47.4% 11.2%);
        --primary-foreground: hsl(210 40% 98%);

        --secondary: hsl(210 40% 96.1%);
        --secondary-foreground: hsl(222.2 47.4% 11.2%);

        --muted: hsl(210 40% 96.1%);
        --muted-foreground: hsl(215.4 16.3% 46.9%);

        --accent: hsl(210 40% 96.1%);
        --accent-foreground: hsl(222.2 47.4% 11.2%);

        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(210 40% 98%);

        --border: hsl(214.3 31.8% 91.4%);
        --input: hsl(214.3 31.8% 91.4%);
        --ring: hsl(222.2 84% 4.9%);

        --radius: 0.5rem;
    }

    .dark {
        color: white;
        --background: hsl(0, 0%, 14%);
        --foreground: hsl(210 40% 98%);

        --card: var(--dark-primary-background);
        --card-foreground: white;

        --popover: hsl(222.2 84% 4.9%);
        --popover-foreground: hsl(210 40% 98%);

        --primary: hsl(210 40% 98%);
        --primary-foreground: hsl(222.2 47.4% 11.2%);

        --secondary: hsl(217.2 32.6% 17.5%);
        --secondary-foreground: hsl(210 40% 98%);

        --muted: hsl(217.2 32.6% 17.5%);
        --muted-foreground: hsl(215 20.2% 65.1%);

        --accent: hsl(217.2 32.6% 17.5%);
        --accent-foreground: hsl(210 40% 98%);

        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(210 40% 98%);

        --border: var(--dark-outline);
        --input: var(--dark-outline);
        --ring: hsl(212.7 26.8% 83.9%);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    * {
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }

    *::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }
}
